version: '3.8'

services:
  vote:
    image: sadzhenitsya.azurecr.io/vote:latest
    ports:
      - "5000:80"
    depends_on:
      - redis
      - db

  result:
    image: sadzhenitsya.azurecr.io/result:latest
    ports:
      - "5001:80"
    depends_on:
      - db

  worker:
    image: sadzhenitsya.azurecr.io/worker:latest
    depends_on:
      - redis
      - db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: votingapp
    ports:
      - "5432:5432"
