version: '3'

services:
  vote:
    build: ./vote
    ports:
      - "5000:80"
  result:
    build: ./result
    ports:
      - "5001:80"
  worker:
    build: ./worker
  redis:
    image: "redis:alpine"
  db:
    image: "postgres:alpine"
