- name: Copy docker-compose.yml to VM
  uses: appleboy/scp-action@v0.1.5
  with:
    host: ${{ secrets.VM_HOST }}
    username: ${{ secrets.VM_USER }}
    key: ${{ secrets.VM_SSH_KEY }}
    source: "./docker-compose.yml"
    target: "/home/${{ secrets.VM_USER }}/voting-app/"
